body {
  position: relative;
  width: 1440px;
  height: 900px;

  background: #ffffff;
}
.header {
  position: absolute;
  height: 48px;
  left: 40.62%;
  right: 40.62%;
  top: calc(50% - 48px / 2 - 284px);

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */

  color: #323c48;
}

.list {
  position: absolute;
  left: 40.62%;
  right: 40.62%;
  top: 27.33%;
  bottom: 51.33%;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  color: #323c48;
}
